.container {
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto;
}

.singleCoin__container .title_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.body__container {
  margin-left: 1rem;
}
